@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
  background: #3b3b3b;
}

html, body, table th, table td {
  font-family: "Helvetica Neue", helvetica, sans-serif;
  font-size: 12pt;
  color: #fff;
}

.fork-me {
  margin: 0;
  position: absolute; 
  top: 0; 
  right: 0; 
}

.fork-me img {
  border: 0;
}

header {
  border-bottom: 1px solid #000;
  padding: 10px;
  text-align: center;
  
  background: #2a2a2a;
  background: -webkit-linear-gradient(top, #4f4f4f, #2a2a2a);
  background:    -moz-linear-gradient(top, #4f4f4f, #2a2a2a);
  background:     -ms-linear-gradient(top, #4f4f4f, #2a2a2a);
  background:      -o-linear-gradient(top, #4f4f4f, #2a2a2a);
  background:         linear-gradient(top, #4f4f4f, #2a2a2a);
}

header h1 {
  text-shadow: 2px 2px 5px #000;
  margin: 30px 0;
}

header .get-it p {
  margin: 10px 0;
}

header .get-it p.sub {
  font-size: 10pt;
  margin-bottom: 30px;
}

header .get-it a {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  line-height: 40px;
  width: 200px;
  
  background: #891010;
  background: -webkit-linear-gradient(top, #9e2b2b, #7e0101);
  background:    -moz-linear-gradient(top, #9e2b2b, #7e0101);
  background:     -ms-linear-gradient(top, #9e2b2b, #7e0101);
  background:      -o-linear-gradient(top, #9e2b2b, #7e0101);
  background:         linear-gradient(top, #9e2b2b, #7e0101);
  
  -webkit-box-shadow: 0 0 1px 1px #a33737 inset;
     -moz-box-shadow: 0 0 1px 1px #a33737 inset;
      -ms-box-shadow: 0 0 1px 1px #a33737 inset;
       -o-box-shadow: 0 0 1px 1px #a33737 inset;
          box-shadow: 0 0 1px 1px #a33737 inset;
}

#main {
  width: 800px;
  margin: 0 auto;
  padding: 1px;
  padding-top: 20px;
}

#main noscript {
  font-weight: bold;
  color: yellow;
}

#main section {
  margin-bottom: 25px;
  padding: 1px;
}

#main section h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16pt;
}

#main section.try input {
  padding: 5px;
}

#main section.try #input {
  width: 200px;
}

#main section.how code {
  display: block;
  border: 1px dashed #000;
  white-space: pre;
  padding: 4px;
  font-size: 11pt;
  background: #242424;
}

#main section.api dt {
  font-style: italic;
  font-weight: bold;
}

#main section.api dd {
  margin-left: 0;
  margin-bottom: 10px;
  font-size: 11pt;
}